<div>
  <h3 class="text-base-content mb-1.5 text-2xl font-semibold"><%= t '.title' %></h3>
  <p class="text-base-content/80"><%= t '.subtitle' %></p>
</div>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="mb-6">
    <%= f.label :email, class: "label-text" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input input-bordered w-full" %>
  </div>

  <div class="mb-4">
    <%= f.submit t('.submit'), class: "btn btn-lg btn-primary btn-block" %>
  </div>
<% end %>

<p class="text-base-content/80 mb-4 text-center">
  <%= t '.remember' %>
  <%= link_to t('.login'), new_session_path(resource_name), class: "link link-animated link-primary font-normal" %>
</p>

<div class="divider"><%= t '.or' %></div>

<%= render "users/shared/links" %>
