<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Literary Pad" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Literary Pad">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#6366F1">
    <!-- Enable View Transitions for Turbo -->
    <meta name="view-transition" content="same-origin">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
<%= stylesheet_link_tag "lexxy", "data-turbo-track": "reload" %>
    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
 
  </head>

  <body class="bg-base-100 text-base-content">
  <%= render "shared/navbar" %>

  <% if notice.present? || alert.present? %>
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 mt-4">
      <% if notice %>
        <div class="alert alert-success mb-4">
          <span><%= notice %></span>
        </div>
      <% end %>

      <% if alert %>
        <div class="alert alert-error mb-4">
          <span><%= alert %></span>
        </div>
      <% end %>
    </div>
  <% end %>

  <%= yield %>

  <%= render "shared/footer" %>
  <%= render "shared/footer_gilcierweb" %>

  <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

  <%= yield :javascript if content_for?(:javascript) %>

  </body>
</html>
