<div>
  <h3 class="text-base-content mb-1.5 text-2xl font-semibold">Sign up</h3>
  <p class="text-base-content/80">Join <%= t('app.name') %> and start your writing journey</p>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="mb-4">
    <%= f.label :email, class: "label-text" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input input-bordered w-full" %>
  </div>

  <div class="mb-4">
    <%= f.label :password, class: "label-text" %>
    <% if @minimum_password_length %>
    <em class="text-sm text-base-content/60">(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password", class: "input input-bordered w-full" %>
  </div>

  <div class="mb-6">
    <%= f.label :password_confirmation, class: "label-text" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input input-bordered w-full" %>
  </div>

  <div class="mb-4">
    <%= f.submit "Sign up", class: "btn btn-lg btn-primary btn-block" %>
  </div>
<% end %>

<p class="text-base-content/80 mb-4 text-center">
  Already have an account?
  <%= link_to "Log in", new_session_path(resource_name), class: "link link-animated link-primary font-normal" %>
</p>

<div class="divider">or</div>

<%= render "users/shared/links" %>
